.text-center{
    text-align:center;
    margin-top: 80px;
}
.color{
    color:rgb(221, 160, 190);
}
.muta{
    margin-right: 40px;
    margin-top: -40px;
}   
.col{
    color: deeppink;

}
.col1{
    color:aqua;
}
.picture {
    width: 200px;
    height: 150px;
  }
.mutapic{
    margin-left: 20px;
    margin-top: -100px;
}
.picture1 {
    width: 500px;
    height: 600px;
    
  }
  
  
  
  
  
  
  
  

  
  