
   <section style="padding-top: 140px;">
    <table style="margin: auto;">
      <tr>
        <th><button routerLink="rochii" > Dresses</button></th>
       <th><button routerLink="bluze">Bluze</button></th> 
      </tr>
      <tr  >
        <td *ngFor="let product of productsFromDB" ><img src="{{product.Imagine}}" class="picture1"></td>
      </tr>
    </table>
   </section>
  
 <!-- <mat-list item *ngFor="let product of productsFromDB" role="listItem"><img src="{{product.Imagine}}">

 </mat-list> -->
 
  
    
    

  

  
  
  
  
  
  
  
  
  
  
  
  