footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
  }
  .footer-container {
    background-color: white;
    bottom: 0;
    left: 0;
    z-index: 9999; 
  }
  
  .contact-info {
    color: rgb(188, 6, 115);
    font-family: 'Merriweather', serif;
    padding-top:30px;
    padding-bottom: 10px;
  }