<section style="padding-top: 140px;" class="container">
    <!-- <tr> -->
    <div class="item" *ngFor="let blugi of blugiFromDB"  ><img src="{{blugi.Imagine}}" class="picture1">
     <p class="pose" style="font-size:20px"> {{blugi.Pret}} lei</p>
     <section style="margin-left: 280px; margin-bottom: 30px;">
        <button mat-raised-button style="margin-left: 5px;" (click)="setSelectedSize(blugi, 'S')">S</button>
        <button mat-raised-button style="margin-left: 5px;" (click)="setSelectedSize(blugi, 'M')">M</button>
        <button mat-raised-button style="margin-left: 5px;" (click)="setSelectedSize(blugi, 'L')">L</button>
    </section>
     <button mat-raised-button routerLink="/cos" style="margin-left: 220px; margin-bottom: 30px;" *ngIf="selectedSize === blugi && marime !== ''" (click)="addToCart(blugi)">
     <span class="text-color">Adaugati in cos</span> </button>
     </div>
    <!-- </tr> -->
</section>
